* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background: #ff5e99;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.pendulum {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 400px;
}

.ball {
	background: #fda98f;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
}

/*.ball:nth-child(2) {
	margin-left: 50px;
}*/

.ball:first-child {
	position: relative;
	left: -50px;
	top: -20px;
}

.ball:last-child {
	position: relative;
	right: 0;
	top: 0;

}