* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background: #f95456;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.pendulum {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 400px;
}

.ball {
	/*background: #fda98f;*/
	background: rgba(255,255,255, .42);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	position: relative;
	margin: 0 1px;
}

.ball:first-child {
	position: relative;
	left: -6rem;
	top: -4rem;
}

.ball:last-child {
	position: relative;
	right: 0;
	top: 0;

}
