* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background: #ff5e99;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.pendulum {
	display: flex;
}

.ball {
	background: #fda98f;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
}

.ball:nth-child(2) {
	margin-left: 50px;
}